include LICENSE
include AUTHORS
include README.rst
include ChangeLog
include tendrl-monitoring-integration.service
include version.py
exclude .gitignore
exclude .gitreview
graft docs
graft etc
graft firewalld
graft tendrl
global-exclude *.pyc
