[Unit]
Description= Monitoring Integration
After=grafana-server.service
Requires=tendrl-node-agent.service grafana-server.service

[Service]
Type=simple
Environment="HOME=/var/lib/tendrl"
ExecStart=/usr/bin/tendrl-monitoring-integration
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
