# Central store etcd port
etcd_port: 2379

# Central store etcd host/ip
etcd_connection: 0.0.0.0

log_cfg_path: /etc/tendrl/monitoring-integration/monitoring_integration_logging.yaml

logging_socket_path: /var/run/tendrl/message.sock

with_internal_profiling: False

tags:
    - tendrl/integrations/monitoring

dashboards:
    - tendrl-gluster-at-a-glance
    - tendrl-gluster-hosts
    - tendrl-gluster-volumes
    - tendrl-gluster-bricks

home_dashboard: tendrl-gluster-at-a-glance

credentials:
  user: admin
  password: admin

datasource_name: 'Graphite'

datasource_host: 127.0.0.1

access: direct

isDefault: true


